body {
  background-color: #000;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

p {
  margin-bottom: 10px;
  font-family: 'DM Mono', sans-serif;
  font-size: 17px;
  line-height: 24px;
}

a {
  color: #000;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: 'DM Mono', sans-serif;
  font-size: 15px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: 'DM Mono', sans-serif;
  font-size: 16px;
}

li {
  font-size: 15px;
}

blockquote {
  margin-bottom: 10px;
  padding: 0px 20px;
  border-left: 3px solid #44f0b5;
  font-family: 'DM Mono', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

figcaption {
  margin-top: 5px;
  font-family: 'DM Mono', sans-serif;
  text-align: center;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 149px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  background-image: url('../images/arrow-bottom.svg');
  background-position: 50% 100%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.hero.sub {
  padding-top: 95px;
  padding-bottom: 105px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
}

.container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  padding: 10px 2%;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
}

.nav-link {
  position: relative;
  margin-left: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link.on-copyright {
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: #000;
  font-size: 21px;
  font-weight: 500;
}

.nav-line {
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: #01b7ff;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #e1e1e1;
}

.social-wrapper.simple {
  margin-left: 0px;
  padding-left: 0px;
  border-left-style: none;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.small-text {
  margin-top: 4px;
  margin-right: -76px;
  font-family: 'DM Mono', sans-serif;
  color: #01b7ff;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.section {
  padding: 100px 5%;
  background-color: #fff;
  cursor: pointer;
}

.section.black {
  background-color: transparent;
}

.section.fun {
  width: auto;
  height: 6%;
  margin-right: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #01b7ff;
  background-image: linear-gradient(22deg, #01b7ff, #44f0b5);
}

.section.for-footer {
  width: auto;
  padding-bottom: 20px;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-grid.block {
  display: block;
  text-align: center;
}

.hero-title {
  color: #fff;
  font-size: 67px;
  line-height: 68px;
  font-weight: 500;
}

.hero-title.blog-post {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.sub-text {
  font-family: 'DM Mono', sans-serif;
  color: #01b7ff;
  font-weight: 500;
}

.margin-30px {
  margin-top: 30px;
}

.paragraph-white {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.margin-50px {
  margin-top: 50px;
}

.button {
  padding: 20px 40px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'DM Mono', sans-serif;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  padding-right: 50px;
  padding-left: 50px;
  border-color: #01b7ff;
  background-color: #01b7ff;
}

.button.green {
  border-color: #44f0b5;
  background-color: #44f0b5;
}

.button.blue {
  border-color: #01b7ff;
  background-color: #01b7ff;
  cursor: pointer;
}

.button.full {
  width: 100%;
}

.profile-photo {
  position: relative;
}

.button-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider {
  width: 20px;
}

.second-heading {
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
}

.second-heading.white {
  color: #fff;
}

.align-center {
  text-align: center;
}

.margin-80px {
  margin-top: 80px;
}

.section-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.page-content {
  border-radius: 15px;
}

.services-wrapper {
  position: absolute;
  left: -18%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
  margin-left: -48px;
  padding: 10px 24px 10px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
}

.services-wrapper._2 {
  left: auto;
  top: auto;
  right: -13%;
  bottom: 14%;
  z-index: 1;
  margin-right: -29px;
  padding-bottom: 6px;
  padding-left: 10px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.services-wrapper._3 {
  position: absolute;
  left: auto;
  top: 15%;
  right: -22%;
  bottom: auto;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.services-wrapper._4 {
  left: -17%;
  top: auto;
  right: auto;
  bottom: 29%;
  margin-right: auto;
  margin-bottom: -108px;
  margin-left: auto;
}

.services-wrapper._4.in-contanct {
  position: relative;
  left: 0%;
  bottom: 0%;
  padding: 0px 0px 98px;
  border-radius: 0px;
}

.services-wrapper._5 {
  left: auto;
  top: 6%;
  right: -11%;
  bottom: auto;
}

.services-wrapper._6 {
  left: -15%;
  top: auto;
  right: auto;
  bottom: 6%;
}

.services-wrapper._7 {
  left: auto;
  top: auto;
  right: -6%;
  bottom: 20%;
}

.service-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 100%;
  background-color: #01b7ff;
}

.service-icon.share {
  padding-right: 3px;
}

.services-text {
  font-size: 17px;
  font-weight: 600;
}

.x-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.x-button:hover {
  opacity: 0.72;
}

.left-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.announcement-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #111;
}

.freebies {
  position: relative;
  z-index: 1;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.freebies.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.white-link {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
}

.white-link:hover {
  color: #fff;
  text-decoration: underline;
}

.announcement-text {
  margin-right: 20px;
  margin-left: 0px;
  font-family: 'DM Mono', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.emoji {
  display: inline-block;
  font-size: 18px;
}

.works-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.works-wrapper {
  position: relative;
  overflow: hidden;
  float: left;
}

.work-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.project-title {
  color: #fff;
  font-size: 30px;
}

.fun-wrapper {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 63px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fun-facts-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 152px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.fun-image {
  margin-bottom: 20px;
}

.fun-number {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

.fun-number.big {
  font-size: 80px;
}

.loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.circle-testimonials-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-20px {
  margin-top: 20px;
}

.paragraph-client {
  width: 80%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #fff;
  font-size: 34px;
  line-height: 39px;
  font-weight: 500;
  text-align: center;
}

.centerize-block {
  text-align: center;
}

.testimonials-slider {
  width: 76%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.slide-nave {
  position: relative;
  top: 15px;
}

.testimonials-circle {
  position: relative;
  left: 25px;
  width: 100px;
  height: 100px;
  margin-left: -25px;
  border-style: solid;
  border-width: 6px;
  border-color: #000;
  border-radius: 100%;
}

.testimonials-circle._3 {
  z-index: 1;
  background-image: url('../images/testi-3.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-circle._2 {
  z-index: 2;
  background-image: url('../images/testi-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-circle._1 {
  z-index: 3;
  background-image: url('../images/testi-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-circle.avatar {
  background-image: url('../images/avatar.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow-display-none {
  display: none;
}

.heading-white {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 20px;
  font-weight: 500;
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.margin-40px {
  margin-top: 40px;
}

.line-divider {
  width: 100%;
  height: 1px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #ededed;
}

.copyright-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.field-label-form {
  font-family: 'DM Mono', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.form-block {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-select {
  height: 50px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  font-weight: 500;
}

.text-field-select::-webkit-input-placeholder {
  color: #919197;
}

.text-field-select:-ms-input-placeholder {
  color: #919197;
}

.text-field-select::-ms-input-placeholder {
  color: #919197;
}

.text-field-select::placeholder {
  color: #919197;
}

.success-message {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 2px;
  background-color: #00b834;
  font-family: 'DM Mono', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.top-margin-30px {
  margin-top: 30px;
}

.select-field {
  height: 100%;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #e6e6e6;
  font-family: 'DM Mono', sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.select-field:active {
  color: #111;
}

.select-field:focus {
  color: #111;
}

.top-margin-20px {
  margin-top: 20px;
}

.color {
  display: inline-block;
  margin-left: 2px;
  color: #01b7ff;
}

.text-field-primary {
  height: 50px;
  margin-bottom: 0px;
  padding-left: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.text-field-primary::-webkit-input-placeholder {
  font-family: 'DM Mono', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.text-field-primary:-ms-input-placeholder {
  font-family: 'DM Mono', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.text-field-primary::-ms-input-placeholder {
  font-family: 'DM Mono', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.text-field-primary::placeholder {
  font-family: 'DM Mono', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.text-field-primary.area {
  padding-top: 14px;
  padding-bottom: 80px;
  cursor: pointer;
}

.error-message {
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 1px;
  background-color: #f71818;
  font-family: 'DM Mono', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.top-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
}

.copyright.dark {
  color: #000;
}

.copyright-dot {
  width: 4px;
  height: 4px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #000;
}

.copyright-dot.white {
  background-color: #fff;
}

.go-top {
  position: fixed;
  left: auto;
  top: auto;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.blog-photo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.blog-photo.normal {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}

.blog-white-bg {
  padding: 40px 40px 30px;
  background-color: #fff;
}

.blog-white-bg.center-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 48px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #ededed;
  background-color: #fff;
}

.blog-tags {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-content-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #111;
  text-decoration: none;
}

.tag-text {
  padding: 10px 22px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background-color: transparent;
  font-family: 'DM Mono', sans-serif;
  color: #111;
  font-size: 16px;
  font-weight: 500;
}

.blog-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grayscale-parent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 85px;
  margin-right: 0px;
  clear: left;
  border-radius: 4px;
}

.margin-30px-2 {
  margin-top: 50px;
}

.margin-25px {
  margin-top: 25px;
}

.white-block {
  width: 100%;
  padding: 20px 20px 40px 45px;
  background-color: #fff;
}

.color-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 10px;
  border-radius: 4px;
  background-color: #01b7ff;
}

.color-block.primary-lighy {
  background-color: #44f0b5;
}

.color-block.secondary {
  background-color: #000;
}

.light-gray {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16.66666667%;
  height: 100%;
  padding: 10px;
  border-radius: 4px 0px 0px 4px;
  background-color: #6c7486;
}

.light-gray-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16.66666667%;
  height: 100%;
  padding: 10px;
  border-radius: 0px;
  background-color: #e4ecfa;
}

.typography-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 58%;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.color-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  padding: 25px 0px 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.color-row.grey {
  margin-bottom: 25px;
  padding-bottom: 0px;
}

.type-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333333%;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;
}

.type-column.right {
  margin-right: 0px;
}

.regular-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.light-gray-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16.66666667%;
  height: 100%;
  padding: 10px;
  border-radius: 0px;
  background-color: #99a3ba;
}

.medium {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
}

.type-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  padding: 25px 0px 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.caption {
  color: hsla(0, 0%, 100%, 0.55);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.caption.margined {
  margin-top: 10px;
  color: #000;
}

.light-block {
  width: 100%;
  padding: 20px 20px 40px 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fafafa;
}

.text-highlight {
  width: 42%;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.content-row {
  position: relative;
  width: 100%;
  margin-top: 45px;
  clear: left;
}

.color-block-parent {
  width: 20%;
  margin-right: 20px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.light-block-second {
  width: 100%;
  padding: 20px 20px 40px 45px;
  background-color: #fafafa;
}

.light-block-second.rounded-bottom {
  margin-bottom: 45px;
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.licensing-block {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.licensing-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  padding: 25px;
  border-radius: 10px;
  background-color: #fafafa;
}

.licensing-content.black {
  background-color: #000;
}

.licensing-content.verical {
  padding-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
}

.copyright-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-size {
  width: 50px;
}

.shrink-item {
  margin-right: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.shrink-item.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shrink-item.gird {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.blog-body {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-content._404 {
  width: 330px;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility-heading {
  color: #fff;
}

.margin-10px {
  margin-top: 10px;
}

.meta-text {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rich-text-block {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.image {
  margin-right: -19px;
  border-radius: 300px;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .navbar {
    padding-right: 3%;
    padding-left: 3%;
  }

  .nav-link {
    display: block;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }

  .nav-link.on-copyright {
    display: inline-block;
    margin-right: 26px;
    margin-left: 0px;
  }

  .logo.w--current {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .nav-line {
    margin-top: 5px;
  }

  .social-wrapper {
    margin-left: 0px;
    padding-left: 0px;
  }

  .social-wrapper.hide-on-mobile {
    display: none;
  }

  .nav-menu {
    padding: 10px 3% 20px;
    background-color: #fff;
  }

  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .hero-grid {
    grid-row-gap: 100px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-grid.on-project {
    grid-row-gap: 50px;
  }

  .hero-title.blog-post {
    width: 100%;
  }

  .services-wrapper._3 {
    right: -27%;
  }

  .services-wrapper._5 {
    top: 20px;
    right: 20px;
  }

  .services-wrapper._6 {
    left: auto;
    top: 100px;
    right: 20px;
    bottom: auto;
  }

  .services-wrapper._7 {
    left: auto;
    top: 180px;
    right: 20px;
    bottom: auto;
  }

  .works-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .menu-button {
    padding: 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 26px;
  }

  .menu-button.w--open {
    border-color: #c9c0c0;
    background-color: transparent;
    color: #000;
  }

  .fun-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .fun-facts-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px none hsla(0, 0%, 100%, 0.09);
  }

  .testimonials-slider {
    width: 100%;
  }

  .contact-grid {
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .line-divider {
    margin-top: 30px;
  }

  .copyright-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .blog-grid {
    width: 100%;
  }

  .blog-photo.normal {
    height: 430px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .blog-white-bg.center-flex {
    padding-right: 36px;
    padding-left: 36px;
  }

  .blog-content-second {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tag-text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .light-gray {
    width: 33.3333%;
  }

  .light-gray-3 {
    width: 33.3333%;
  }

  .light-gray-2 {
    width: 33.3333%;
  }

  .text-highlight {
    padding: 20px;
  }

  .color-block-parent {
    width: 33.3333%;
  }

  .licensing-block {
    width: 100%;
  }

  .blog-body {
    width: 100%;
  }

  .rich-text-block {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hero.sub {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .logo {
    padding-left: 0px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 60px;
  }

  .services-wrapper {
    left: -8%;
  }

  .services-wrapper._2 {
    right: -5%;
  }

  .services-wrapper._3 {
    right: -6%;
  }

  .services-wrapper._4 {
    left: -6%;
  }

  .left-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .announcement-bar {
    padding-right: 4%;
    padding-left: 4%;
  }

  .works-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .circle-testimonials-block {
    width: 100%;
  }

  .paragraph-client {
    width: 90%;
  }

  .testimonials-slider {
    width: 100%;
  }

  .form-block {
    width: 100%;
  }

  .blog-photo.normal {
    height: 370px;
  }

  .type-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .type-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-highlight {
    padding: 26px 9px;
  }

  .utility-page-content {
    width: 320px;
  }
}

@media screen and (max-width: 479px) {
  .hero.sub {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .nav-link.on-copyright {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .hero-grid {
    grid-row-gap: 50px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 49px;
  }

  .profile-photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .divider {
    width: auto;
    height: 20px;
  }

  .second-heading {
    font-size: 35px;
    line-height: 37px;
  }

  .section-wrapper {
    width: 100%;
  }

  .services-wrapper {
    position: relative;
    left: 0%;
    top: 0%;
    margin-top: 10px;
    padding-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
  }

  .services-wrapper._2 {
    right: 0%;
    bottom: 0%;
  }

  .services-wrapper._3 {
    top: 0%;
    right: 0%;
  }

  .services-wrapper._4 {
    left: 0%;
    bottom: 0%;
  }

  .services-wrapper._4.in-contanct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .services-wrapper._5 {
    top: 0px;
    right: 0px;
  }

  .services-wrapper._6 {
    top: 0px;
    right: 0px;
  }

  .services-wrapper._7 {
    top: 0px;
    right: 0px;
  }

  .service-icon {
    margin-bottom: 10px;
  }

  .services-text {
    color: #fff;
  }

  .services-text.dark {
    color: #000;
  }

  .x-button {
    position: absolute;
    left: auto;
    top: -5px;
    right: -5px;
    bottom: auto;
  }

  .left-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .announcement-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .freebies {
    max-width: none;
    margin-left: 0px;
  }

  .freebies.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .project-title {
    font-size: 24px;
    line-height: 30px;
  }

  .fun-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .fun-facts-wrapper {
    border-right-style: none;
  }

  .paragraph-client {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
  }

  .testimonials-slider {
    width: 90%;
  }

  .testimonials-circle {
    width: 75px;
    height: 75px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .testimonials-circle._1 {
    margin-left: -50px;
  }

  .form-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .text-field-primary {
    height: 50px;
  }

  .top-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .copyright {
    margin-bottom: 5px;
  }

  .copyright-dot {
    display: none;
  }

  .go-top {
    display: none;
  }

  .blog-photo.normal {
    height: 240px;
  }

  .blog-title {
    font-size: 23px;
    line-height: 30px;
  }

  .blog-white-bg {
    padding: 20px 23px 10px;
  }

  .blog-white-bg.center-flex {
    padding-right: 19px;
    padding-bottom: 20px;
    padding-left: 19px;
  }

  .grayscale-parent {
    height: 55px;
  }

  .color-block {
    width: 100%;
    height: 55px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .light-gray {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .light-gray-3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .typography-flex {
    width: 68%;
  }

  .color-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .type-column {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .light-gray-2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .type-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-highlight {
    width: 32%;
    padding: 20px 10px;
  }

  .color-block-parent {
    width: 100%;
    margin-right: 3%;
  }

  .licensing-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .copyright-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .shrink-item {
    margin-right: 0px;
  }

  .shrink-item.flex {
    margin-top: 20px;
    margin-right: 0px;
  }

  .project-image {
    margin-bottom: 20px;
  }
}

#w-node-_16c812bd-8383-0eb1-3b37-35177f3ae66e-9bd59e73 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7e2edfe3-3944-2ba0-6656-871ae44718e6-9bd59e73 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_908d10ac-3048-9e13-a6bc-fe3abb5e3c9d-bb5e3c93 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b1258e30-7c21-44e3-e646-8a58daf3d909-4fd59e74 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-b1258e30-7c21-44e3-e646-8a58daf3d910-4fd59e74 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-b1258e30-7c21-44e3-e646-8a58daf3d917-4fd59e74 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c84-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c86-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c88-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c8a-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c8c-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c8e-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_04fa86b8-95ac-181e-8dc0-bbe62c6f3c90-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bfc473fc-be17-9b52-5b9e-28fe0098df1b-8cd59e79 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_908d10ac-3048-9e13-a6bc-fe3abb5e3c9d-bb5e3c93 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7e2edfe3-3944-2ba0-6656-871ae44718d6-9bd59e73 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_7e2edfe3-3944-2ba0-6656-871ae44718e0-9bd59e73 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_7e2edfe3-3944-2ba0-6656-871ae44718e6-9bd59e73 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-b1258e30-7c21-44e3-e646-8a58daf3d8fd-4fd59e74 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-b1258e30-7c21-44e3-e646-8a58daf3d903-4fd59e74 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-b1258e30-7c21-44e3-e646-8a58daf3d909-4fd59e74 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-b1258e30-7c21-44e3-e646-8a58daf3d910-4fd59e74 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

